<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="css/a4c.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeMaster</title>
</head>
<body>
	<header>
		<nav>
			<ul id = "nav"> 
				<li class="logo"><a href="/home"><img src="images/logo.png" style="width:100px;height:40px"></a></li>
				<li><a href="/search">Find a Coach</a></li>
				<li class="usersection"><a href="/signup">Sign Up</a></li>
				<li class="usersection"><a href="/login">Log In</a></li>
			</ul>
		</nav>
	</header>
	<section class="wrapper">
	
		<!--the title-->

		<section class="banner" id="panel-home">
			<div class="inner">
				<h1>BeMaster!</h1>
			</div>
		</section>

	   <section class="section">
            <a style="text-decoration:none" href="#"><h3> Dota2</h3><a>
            <br>  		
		    <% users.forEach(function(user) { %>
			<% if (user.local.game == 'Dota2') { %>
			<div class="col-md-3">
                <img class="img-responsive" src=
                "../images/dota2_user.jpg">		
				<a style="text-decoration:none;font-family:Comic Sans MS,Gadget,sans-serif;font-size:20px;
				color:rgb(100, 65, 165)"
				   href="/users/<%= user._id %>"><%=user.local.nickname%></a>
            </div>
			<% } %>
			<% }); %>
            	
        </section>
 
        <section class="section">
            <a style="text-decoration:none" href="#"><h3>Overwatch</h3><a>
            <br>
			<% users.forEach(function(user) { %>
			<% if (user.local.game == 'Overwatch') { %>
			<div class="col-md-3">
                <img class="img-responsive" src=
                "../images/overwatch_user.png">		
				<a style="text-decoration:none;font-family:Comic Sans MS,Gadget,sans-serif;font-size:20px;
				color:rgb(100, 65, 165)"
				   href="/users/<%=user._id %>"><%=user.local.nickname%></a>
            </div>
			<% } %>
			<% }); %>
            
        </section>
		
		
        <section class="section">
            <a style="text-decoration:none" href="#"><h3> CS:GO</h3><a>
            <br>
			<% users.forEach(function(user) { %>
			<% if (user.local.game == 'CS:GO') { %>
			<div class="col-md-3">
                <img class="img-responsive" src=
                "../images/csgo_user.jpeg">		
				<a style="text-decoration:none;font-family:Comic Sans MS,Gadget,sans-serif;font-size:20px;
				color:rgb(100, 65, 165)"
				   href="/users/<%= user._id %>"><%=user.local.nickname%></a>
            </div>
			<% } %>
			<% }); %>
            
        </section>
		
		
        <section class="section">
            <a style="text-decoration:none" href="#"><h3> League of Legends</h3><a>
            <br>
			<% users.forEach(function(user) { %>
			<% if (user.local.game == 'League of Legends') { %>
			<div class="col-md-3">
                <img class="img-responsive" src=
                "../images/lol_user.jpg">		
				<a style="text-decoration:none;font-family:Comic Sans MS,Gadget,sans-serif;font-size:20px;
				color:rgb(100, 65, 165)"
				   href="/users/<%= user._id %>"><%=user.local.nickname%></a>
            </div>
			<% } %>
			<% }); %>
            
        </section>
		
		
    </section>
</body>	
</html>

		