<!-- views/search.ejs -->
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="/css/search.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeMaster</title>
</head>
<body>
	<header>
		<nav>
			<ul id = "nav"> 
				<li class="logo"><a href="/home"><img src="images/logo.png" style="width:100px;height:40px"></a></li>  				
				<li><a href="/search">Find a Coach</a></li>
				<li class="usersection"><a href="/logout">Log Out</a></li>
				<li class="username"><a href="/profile"> Hi
				<% if (user) { %>
				<%= user.local.nickname%>
				<% } %>
				</a></li>
			</ul>
		</nav>   
	</header>
    
	<main>
    <h2>Search for coaches</h2>
		
	<form action="/search" method="post">
		<div class="form_element">
			<label id="gamename">
				<span class="label">Please select a game:</span>
				<select name="gamename">
					<option>League of Legends</option>
					<option>Overwatch</option>
					<option>Dota2</option>
					<option>CS:GO</option>
					<% if (gameName != null) { %>
					<option selected="selected"><%=gameName%></option>
					<% } %>
				</select>
			</label>
		</div>
		
		<div class="form_element">
			<label id="cost">
				<span class="label">Please select cost rate $/hour:</span>
				<select name="cost">
					<option>free</option>
					<option>$1-$10</option>
					<option>$11-$20</option>
					<option>$21-$30</option>
					<option>>$30</option>
					<option>all</option>
					<% if (cost != null) { %>
					<option selected="selected"><%=cost%></option>
					<% } %>
				</select>
			</label>
		</div>
		  
		<input id="searchButton" type="submit" value="Search">
	</form>
	
	<% if (gameName) { %>
	  <h2>Search result for game: <%= gameName %></h2>
	<% } %>
	<% if (cost) { %>
	  <h3>cost range: <%= cost %></h3>
	<% } %>

	<table id="search-result">
	  <tr>
		<th>Coach</th>
		<th>Location</th>
		<th>Rate</th>
		<th>Cost $/hr</th>
	</tr>
	  <% if (coaches) { %>
	    <% coaches.forEach(function(coach) { %>
	      <tr>
			<td><%= coach.local.nickname %></td>
			<td><%= coach.local.location %></td>
			<td><%= coach.local.rate %></td>
			<td><%= coach.local.cost %></td>
		  </tr>
	    <% }); %>
	  <% } %>

	</table>
	
	</main>
  
</body>
</html>