<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeMaster</title>
	<link href="/css/profile.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/script/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src ="/script/profile.js"></script>
	<!--<script type="text/javascript" src="lol.js"></script>-->
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class="logo"><a href="/home">BeMaster</a></li>
				<li style="font-weight:bold;float:left;margin-left:4%"><a href="/games/lol">Coaches</a></li>
				<li><img src="/images/close-envelope.png" onmouseover='src="/images/close-envelope1.png"' onmouseout='src="/images/close-envelope.png"' onclick="location.href='/messaging';"></li>
				<li style="font-weight:bold;margin-left:20px"><a href='/logout'>Log Out</a></li>
				<li style="font-weight:bold;"><a href='/profile'><%=user.local.nickname%></a></li>
				<li><img src="/images/upwards-arrow.png" onmouseover='src="/images/upwards-arrow1.png"' onmouseout='src="/images/upwards-arrow.png"' id="upwards"></li>
			</ul>
		</nav>
	</header>
	<section class = "information">
		<div class = "profile">
			<div class = "photo">
			    <% if (user.local.photo == "") { %>
			 	<img src="/images/person.gif" >
				<% } %>
			    <% if (user.local.photo != "") { %>
				<img style="height:60%;width:60%; border-radius: 50%" src="<%=user.local.photo%>">
			    <% } %>
			</div>
			<div class="g_information">
				<h2><%=user.local.nickname%></h2>
				<p>Your account: <%=user.local.email%></p>
				<p>Your coachtype: <%=user.local.coachtype%></p>
			</div>
			<div id="edit" onclick="location.href='/editcoach'">
				<p>Edit Information </p>
				<img src="/images/edit.png">
			</div>
		</div>
	</section>
	<section id="service">
		<div class="flip-container-1" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3-1">
					<% if (user.local.game == "CS:GO") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/csgo_logo.png">
					<% } %>
					<% if (user.local.game == "League of Legends") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/lol_logo.png">
					<% } %>
					<% if (user.local.game == "Dota2") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/dota2_logo.png">
					<% } %>
					<% if (user.local.game == "Overwatch") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/overwatch_logo.png">
					<% } %>
		        </div>
		        <div class="back-1">
					<% if (user.local.rate.grade == 0) { %>
		        	<h3>Rating: N/A</h3>
					<% } %>
					<% if (user.local.rate.grade != 0) { %>
		        	<h3>Rating: <%=user.local.rate.grade%>/10</h3>
					<% } %>
					<h3>Price: $<%=user.local.cost%></h3>
		        </div>
	        </div>
				
		
				
			
			
			
        </div>
  
  
    </section>
	<section class="others_life">
		<h1 id="viewcomment">View Comments</h1>
		<div id="showcomment" style="display:none" >
		<% if (comments) { %>
			<% comments.forEach(function(comment) { %>
			<div id = "posts">
				<div class = "small_photo">
						<img src="/images/person.gif" class="img-responsive" alt="Who is that" style="width:50px;height:50px;">
				</div>
				<div class="content">
					<div class = "ID">
						<a href="/users/<%=comment.comment.studentid%>"><p class = "ID"><%=comment.comment.nickname %></p></a>
					</div>
					<p><%=comment.comment.content%></p>
				</div>
				 <p><%=comment.comment.date%></p>
			</div>
			<% }); %>
		<% } %>
		</div>
	</section>
	
		
</body>
</html>