<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>League of Legends</title>
	<script type="text/javascript" src="/script/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="/script/nav_control.js"></script>
	<link href="/css/lol.css" rel="stylesheet" type="text/css" />
	
 
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class="logo"><a href="/home">BeMaster</a></li>
				<li><img src="/images/close-envelope.png" onmouseover='src="/images/close-envelope1.png"' onmouseout='src="/images/close-envelope.png"' onclick="location.href='/messaging';"></li>
                <% if (user == null) { %>
				<li><img src="/images/user.png" onmouseover='src="/images/user1.png"' onmouseout='src="/images/user.png"' onclick="location.href='/login';"></li>
				<% } %>
				<% if (user != null) { %>
			    <li style="margin-left:10px"><a href='/logout'>Log Out</a></li>
				<li><a href='/profile'><%= user.local.nickname%></a></li>
				<% } %>
				<li><img src="/images/upwards-arrow.png" onmouseover='src="images/upwards-arrow1.png"' onmouseout='src="images/upwards-arrow.png"' id="upwards"></li>
			</ul>
		</nav>
	</header>
		<div id="container_mobile">
			<% coaches.forEach(function(coach) { %>
		
			<a href="/users/<%=coach._id%>"><div class="block">
				<img  class="img-responsive" src="<%=coach.local.photo%>">
			    <p><%=coach.local.nickname%></p>

			    <% if (coach.local.rate.grade == 0) { %>
		        	<p>Rating:N/A</p>
				    <% } %>
					<% if (coach.local.rate.grade != 0) { %>
		        	<p>Rating: <%=coach.local.rate.grade%></p>
				    <% } %>
			    	<p>Price: $<%=coach.local.cost %>/hour</p>
			</div></a>
			<% }); %>		
		</div>
		
		<% coaches.forEach(function(coach) { %>
		<div style="margin-bottom:10%" class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3">
		            <img class="img-responsive" src=
			        "<%=coach.local.photo%>">
			        <p style="font-size:20px"><%=coach.local.nickname%></p>	
		        </div>
		        <a href="/users/<%=coach._id%>"><div class="back-1">
					<% if (coach.local.rate.grade == 0) { %>
		        	<p style="font-size:15px">Rating:N/A</p>
				    <% } %>
					<% if (coach.local.rate.grade != 0) { %>
		        	<p style="font-size:15px">Rating: <%=coach.local.rate.grade%></p>
				    <% } %>		
		        	<p style="font-size:15px">Price: $<%=coach.local.cost %>/hour</p>
		        </div></a>
	        </div>
        </div>
        <% }); %>		
	</section>
	
	
</body>
</html>