<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>League of Legends</title>
	<script type="text/javascript" src="/script/googleMarker.js"></script>
	<script type="text/javascript" src="/script/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="/script/nav_control.js"></script>
	<link rel="stylesheet" href="/css/map.css" type="text/css">
	<link href="/css/lol.css" rel="stylesheet" type="text/css" />
	
 
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class="logo"><a href="/home">BeMaster</a></li>
				<li><img src="/images/close-envelope.png" onmouseover='src="/images/close-envelope1.png"' onmouseout='src="/images/close-envelope.png"' onclick="location.href='/messaging';"></li>
                <% if (user == null) { %>
				<li><img src="/images/user.png" onmouseover='src="/images/user1.png"' onmouseout='src="/images/user.png"' onclick="location.href='/login';"></li>
				<% } %>
				<% if (user != null) { %>
			    <li style="font-weight:bold;margin-left:20px"><a href='/logout'>Log Out</a></li>
				<li style="font-weight:bold;"><a href='/profile'><%= user.local.nickname%></a></li>
				<% } %>
				<li><img src="/images/upwards-arrow.png" onmouseover='src="images/upwards-arrow1.png"' onmouseout='src="images/upwards-arrow.png"' id="upwards"></li>
			</ul>
		</nav>
	</header>
	<section id="nav">
		<div class="games">
			<a href='/games/lol'><p class="text"></p>
			<img class="img" src="/images/lol_logo.png"></a>
		</div>
		<div class="games">
			<a href='/games/overwatch'><p class="text"></p>
			<img class="img" src="/images/overwatch_logo.png"></a>
		</div>
		<div class="games">
			<a href='/games/dota2'><p class="text"></p>
		    <img class="img" src="/images/dota2_logo.png"></a>
		</div>
		<div class="games">
			<a href='/games/csgo'><p class="text"></p>
           <img class="img" src="/images/csgo_logo.png"></a>
		</div>
	</section>
	<section id="list_coach">
		<form action='/search' method="post">
		<% if (gameName == 'lol') { %>
		<h1>Coaches for League of Legends</h1>
		<% } %>
		<% if (gameName == 'csgo') { %>
		<h1>Coaches for CS:GO</h1>
		<% } %>
		<% if (gameName == 'dota2'){%>
		<h1>Coaches for Dota2</h1>
		<% } %>
		<% if (gameName == 'overwatch'){%>
		<h1>Coaches for Overwatch</h1>
		<% } %>
		<input type="hidden" name="gamename" value="<%=gameName%>">
		<label>
		<span>Online or Offline</span>
		<select name='coachtype'>
			<option>Online</option>
			<option>Offline</option>
			<% if (coachtype != null) { %>
			<option selected="selected"><%=coachtype%></option>
            <% } %>
		</select>
		</label>
		<label>
		<span>Cost rate</span>
		<select id="priceSelect" name='cost'>
			<option>Free</option>
			<option>$1-$10</option>
			<option>$11-$20</option>
			<option>$21-$30</option>
			<option>$30+</option>
			<option>All</option>
			<% if (cost != null) { %>
			<option selected='selected'><%=cost%></option>
            <% } %>
		</select>
		</label>
		<label>
		<button type='submit'>Search</button>
		</label>
		</form>
		<br>
		<br>
		<p id="coachInfo" hidden><%=JSON.stringify(gameCoachInfo)%></p>
		<div id="container_mobile">
			<% coaches.forEach(function(coach) { %>
		
			<a href="/users/<%=coach._id%>"><div class="block">
			
				<% if (coach.local.photo == "") { %>
			 	<img src="/images/person.gif" >
				<% } %>
				<% if (coach.local.photo != "") { %>
				<img  class="img-responsive" src="<%=coach.local.photo%>">
				<% } %>
			    <p><%=coach.local.nickname%></p>

			    <% if (coach.local.rate.grade == 0) { %>
		        	<p>Rating:N/A</p>
				    <% } %>
					<% if (coach.local.rate.grade != 0) { %>
		        	<p>Rating: <%=coach.local.rate.grade%></p>
				    <% } %>
			    	<p>Price: $<%=coach.local.cost %>/hour</p>
			</div></a>
			<% }); %>		
		</div>
		 <!--Recomendation :Top 4 Coaches for each game -->
		
		<% if (coachtype == null) { %>
		<% var i = 0 %>
		<% coaches.forEach(function(coach) { %>
		<% if (i == 3){ %>
		<%	i = 0 %>
		<%	} %>
		<% i = i + 1 %>
		<div style="margin-bottom:10%" class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3">
					<% if (coach.local.photo == "") { %>
		            <img class="img-responsive" src=
			        "/images/person.gif">
					<% } %>
					<% if (coach.local.photo != "") { %>
		            <img class="img-responsive" src=
			        "<%=coach.local.photo%>">
					<% } %>
			        <p style="font-size:20px"><%=coach.local.nickname%></p>
					
		        </div>
		        <% var style = "back-" + i %>
		        <a href="/users/<%=coach._id%>"><div class="<%=style%>">
					<% if (coach.local.rate.grade == 0) { %>
		        	<p style="font-size:15px">Rating:N/A</p>
				    <% } %>
					<% if (coach.local.rate.grade != 0) { %>
		        	<p style="font-size:15px">Rating: <%=coach.local.rate.grade%></p>
				    <% } %>		
		        	<p style="font-size:15px">Price: $<%=coach.local.cost %>/hour</p>
		        </div></a>
	        </div>
        </div>
        <% }); %>
		<% } %>
		 <!--Search online coaches -->
	   
		<% if (coachtype == "Online") { %>
		<% coaches.forEach(function(coach) { %>
		<div style="margin-bottom:10%" class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3">
					<% if (coach.local.photo == "") { %>
		            <img class="img-responsive" src=
			        "/images/person.gif">
					<% } %>
				<% if (coach.local.photo != "") { %>
		            <img class="img-responsive" src=
			        "<%=coach.local.photo%>">
					<% } %>
			        <p style="font-size:20px"><%=coach.local.nickname%></p>
					
				</div>
		        <a href="/users/<%=coach._id%>"><div class="back-1">
					<% if (coach.local.rate.grade == 0) { %>
		        	<p style="font-size:15px">Rating:N/A</p>
				    <% } %>
					<% if (coach.local.rate.grade != 0) { %>
		        	<p style="font-size:15px">Rating: <%=coach.local.rate.grade%></p>
				    <% } %>		
		        	<p style="font-size:15px">Price: $<%=coach.local.cost %>/hour</p>
		        </div></a>
	        </div>
        </div>
        <% }); %>	
		<% } %>
		
		<!--Search offline coaches -->
		<% if (coachtype == "Offline") { %>
				<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1IGuTcLPxARLu0f8zLHV5dyDx-6CbSa8&callback=initMap"></script>
			<div id="map"></div>
		<% } %>
	</section>
	
	
</body>
</html>