<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeMaster</title>
	<link href="/css/profile.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/script/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src ="/script/profile.js"></script>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class="logo"><a href="/home">BeMaster</a></li>
				<li><img src="/images/close-envelope.png" onmouseover='src="/images/close-envelope1.png"' onmouseout='src="/images/close-envelope.png"' onclick="location.href='/messaging';"></li>
					<li style="margin-left:20px"><a href='/logout'>Log Out</a></li>
				<li><a href='/profile'><%=user.local.nickname%></a></li>
				<li><img src="/images/upwards-arrow.png" onmouseover='src="/images/upwards-arrow1.png"' onmouseout='src="/images/upwards-arrow.png"' id="upwards"></li>
			</ul>
		</nav>
	</header>
	<section id="timetable">
	<% var today=new Date(); %>
	<% var n_day=today.getDay(); %>
	<% var h=today.getHours(); %>
	<h1><%=h%></h1>
	<form id="order_sheet" action="/transaction/<%=target_coach._id%>" method="post" enctype='multipart/form-data'>
		<td><input class = "test" type="checkbox" name='validate' value='test' checked></td>
		<table width="80%" align="center" >
		    <div id="head_nav">
		    <tr>
		    	<th>Time</th>
		        <%if (n_day == 1){ %>
		        	<th>Monday</th>
		        	<th>Tuesday</th>
		        	<th>Wednesday</th>
		        	<th>Thrusday</th>
		        	<th>Friday</th>
		        	<th>Saturday</th>
		        	<th>Sunday</th>
		        <%}		%> 
		        <% if (n_day == 2){ %>
		        	<th>Tuesday</th>
		        	<th>Wednesday</th>
		        	<th>Thrusday</th>
		        	<th>Friday</th>
		        	<th>Saturday</th>
		        	<th>Sunday</th>
		        	<th>Monday</th>
		       <% } %>
		        <% if (n_day == 3){ %>
		        	<th>Wednesday</th>
		        	<th>Thrusday</th>
		        	<th>Friday</th>
		        	<th>Saturday</th>
		        	<th>Sunday</th>
		        	<th>Monday</th>
		        	<th>Tuesday</th>
		        <%}%>
		        <%if (n_day == 4){ %>
		        	<th>Thrusday</th>
		        	<th>Friday</th>
		        	<th>Saturday</th>
		        	<th>Sunday</th>
		        	<th>Monday</th>
		        	<th>Tuesday</th>
		        	<th>Wednesday</th>
		        <%}%>
		        <%if (n_day == 5){%>
		        	<th>Friday</th>
		        	<th>Saturday</th>
		        	<th>Sunday</th>
		        	<th>Monday</th>
		        	<th>Tuesday</th>
		        	<th>Wednesday</th>
		        	<th>Thrusday</th>
		        <%}%>
		        <%if (n_day == 6){%>
		        	<th>Saturday</th>
		        	<th>Sunday</th>
		        	<th>Monday</th>
		        	<th>Tuesday</th>
		        	<th>Wednesday</th>
		        	<th>Thrusday</th>
		        	<th>Friday</th>
		        <%}%>
		        <%if (n_day == 7){%>
		        	<th>Sunday</th>
		        	<th>Monday</th>
		        	<th>Tuesday</th>
		        	<th>Wednesday</th>
		        	<th>Thrusday</th>
		        	<th>Friday</th>
		        	<th>Saturday</th>
		        <%}%>
		    </tr>
		</div class = "sche">
			<h3>Schedule</h3>
			<p>The cost is <%=target_coach.local.cost%> per hour</p>
		    <tr>
		        <th>10:00 - 11:00</th>
		        	<% for (var i =0; i < _10_11.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 10){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_10-11" %>' value='passed' checked></td>
		        	<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_10_11[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_10-11" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_10_11[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% }%>
		        </div>
		    </tr>
		    <tr>
		        <th>11:00 - 12:00</th>
		        	<% for (var i =0; i < _11_12.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 11){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_11-12" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_11_12[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_11-12" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_11_12[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>

		    <tr>
		        <th>12:00 - 13:00</th>
		        	<% for (var i =0; i < _12_13.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 12){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_12-13" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_12_13[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_12-13" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_12_13[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>

		    <tr>
		        <th>13:00 - 14:00</th>
		        	<% for (var i =0; i < _13_14.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 13){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_13-14" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_13_14[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_13-14" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_13_14[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>

		    <tr>
		        <th>14:00 - 15:00</th>
		        	<% for (var i =0; i < _14_15.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 14){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_14-15" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_14_15[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_14-15" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_14_15[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>15:00 - 16:00</th>
		        	<% for (var i =0; i < _15_16.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 15){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_15-16" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_15_16[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_15-16" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_15_16[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>16:00 - 17:00</th>
		        	<% for (var i =0; i < _16_17.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 16){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_16-17" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_16_17[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_16-17" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_16_17[i] != 0){%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>17:00 - 18:00</th>
		        	<% for (var i =0; i < _17_18.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 17){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_17-18" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_17_18[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_17-18" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_17_18[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>18:00 - 19:00</th>
		        	<% for (var i =0; i < _18_19.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 18){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_18-19" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_18_19[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_18-19" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_18_19[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>19:00 - 20:00</th>
		        	<% for (var i =0; i < _19_20.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 19){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_19-20" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_19_20[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_19-20" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_19_20[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>20:00 - 21:00</th>
		        	<% for (var i =0; i < _20_21.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 20){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_20-21" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_20_21[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_20-21" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_20_21[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>21:00 - 22:00</th>
		        	<% for (var i =0; i < _21_22.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 21){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_21-22" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_21_22[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_21-22" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_21_22[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>22:00 - 23:00</th>
		        	<% for (var i =0; i < _22_23.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 22){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_22-23" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_22_23[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_22-23" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_22_23[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		    <tr>
		        <th>23:00 - 00:00</th>
		        	<% for (var i =0; i < _23_00.length; i ++) { %>
		        	<% if (i == 0){ %>
		        	<%	if (h >= 23){ %>
		        		<td><input class = "passed" type="checkbox" name='<%=i+"_23-00" %>' value='passed' checked></td>
		        		<% continue %>
		        	<%	} %>
		        	<% } %>
		        	<% if(_23_00[i] == 0){ %>
		        		 <td><input type="checkbox" name='<%=i+"_23-00" %>' value='<%=user.local.nickname%>'></td>
		        	<% } %>
		        	<% if(_23_00[i] != 0) {%>
		        		<td class="n_ava"> </td>
		        	<% } %>
		        	<% } %>
		        </div>
		    </tr>
		</table>
		<button type="submit">Confirm</button>
		</form>
	</section>
</body>