<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<link href="/css/profile.css" rel="stylesheet" type="text/css" />
	<!--<script type="text/javascript" src="lol.js"></script>-->
</head>
<body>
    
	<header>
		<nav>
			<ul>
				<li class="logo"><a href="/home">BeMaster</a></li>
					<li style="font-weight:bold;float:left;margin-left:4%"><a href="/games/lol">Coaches</a></li>
				<li><img src="/images/close-envelope.png" onmouseover='src="/images/close-envelope1.png"' onmouseout='src="/images/close-envelope.png"' onclick="location.href='/messaging';"></li>
				<li style="font-weight:bold;margin-left:20px"><a href='/logout'>Log Out</a></li>
				<li style="font-weight:bold;"><a href='/profile'><%=user.local.nickname%></a></li>
				<li><img src="/images/upwards-arrow.png" onmouseover='src="/images/upwards-arrow1.png"' onmouseout='src="/images/upwards-arrow.png"' id="upwards"></li>
			</ul>
		</nav>
	</header>
    
	<section class = "information">
		<div class = "profile">
			<div class = "photo">
				<% if (user.local.photo == "") { %>
			 	<img src="/images/person.gif" >
				<% } %>
				
			    <% if (user.local.photo != "") { %>
				<img style="height:60%;width:60%; border-radius: 50%" src="<%=user.local.photo%>">
			    <% } %>
			</div>
			<div class="g_information">
				<h2><%=user.local.nickname%></h2>
				<p>Your account: <%=user.local.email%></p>
			</div>
			<div id="edit" onclick="location.href='/editstudent'">
				<img src="/images/edit.png">
			</div>
	
		</div>
	</section>
    
	<section id="service">
		<div class="flip-container-1" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3-1">
					<% if (user.local.game == "CS:GO") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/csgo_logo.png">
					<% } %>
					<% if (user.local.game == "League of Legends") { %>
		            <img  style="width:100%;height:100%" class="img-responsive" src=
			        "/images/lol_logo.png">
					<% } %>
					<% if (user.local.game == "Dota2") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/dota2_logo.png">
					<% } %>
					<% if (user.local.game == "Overwatch") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/overwatch_logo.png">
					<% } %>		
		        </div>
				<div class="back-1">
					<h2 style="margin-top:30%">Top Coaches: </h2>
		        </div>
	        </div>
        </div>
		
		
       	<!--Top coaches suggestions for student-->
	   	<% coaches.forEach(function(coach) { %>
		<div class="flip-container-1" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3-3">
				<img style="width:100%;height:100%"
				class="img-responsive" src="<%=coach.local.photo%>">
		        </div>
				<a href="/users/<%=coach._id%>"><div class="back-3">
				<h2 style="font-size:100%"><%=coach.local.nickname%></h2>
					<% if (coach.local.rate.grade == 0) { %>
		        	<h2 style="font-size:100%">Rating:N/A</h2>
				    <% } %>
					<% if (coach.local.rate.grade != 0) { %>
		        	<h2 style="font-size:100%">Rating: <%=coach.local.rate.grade%>/10</h2>
				    <% } %>		
		        	<h2 style="font-size:100%">Price: $<%=coach.local.cost %>/hour</h2>
		        </div></a>
	        </div>
        </div>
		<% }); %>	
		
		
    </section>
	
	
	
	
</body>
</html>