<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<link href="/css/profile.css" rel="stylesheet" type="text/css" />
	<!--<script type="text/javascript" src="lol.js"></script>-->
</head>
<body>
    
	<header>
		<nav>
			<ul>
				<li class="logo"><a href="/home">BeMaster</a></li>
				<li><img src="/images/close-envelope.png" onmouseover='src="/images/close-envelope1.png"' onmouseout='src="/images/close-envelope.png"' onclick="location.href='/messaging';"></li>
				<li style="margin-left:20px"><a href='/logout'>Log Out</a></li>
				<li><a href='/profile'><%=user.local.nickname%></a></li>
				<li><img src="/images/upwards-arrow.png" onmouseover='src="/images/upwards-arrow1.png"' onmouseout='src="/images/upwards-arrow.png"' id="upwards"></li>
			</ul>
		</nav>
	</header>
    
	<section class = "information">
		<div class = "profile">
			<div class = "photo">
				<% if (user.local.photo == "") { %>
			 	<img src="/images/person.gif" >
				<% } %>
				
			    <% if (user.local.photo != "") { %>
				<img style="height:60%;width:60%; border-radius: 50%" src="<%=user.local.photo%>">
			    <% } %>
			</div>
			<div class="g_information">
				<h2><%=user.local.nickname%></h2>
				<p>Your account: <%=user.local.email%></p>
			</div>
			<div id="edit" onclick="location.href='/editstudent'">
				<img id = "edit_img" src="/images/edit.png">
			</div>
			<div id="friends">
				<img id = "friends_img" src = "/images/friends.png" onclick="location.href='/friend'">
			</div>
			<br>
			<br>
			<p id = "friends_text"> Your Favourite Coaches</p>
			<p id = "edit_text">Edit Your profile</p>
	
		</div>
	</section>
    
	<section id="service">
		<h4>Top Coaches for you</h4>
		<% coaches.forEach(function(coach) { %>
		<div class="flip-container-1" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3-1">
					
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "<%=coach.local.photo%>">
		
		        </div>
				    <a href="/users/<%=coach._id%>"><div class="back-1">
					<% if (coach.local.rate.grade == 0) { %>
		        	<p style="font-size:15px">Rating:N/A</p>
				    <% } %>
					<% if (coach.local.rate.grade != 0) { %>
		        	<p style="font-size:15px">Rating: <%=coach.local.rate.grade%></p>
				    <% } %>		
		        	<p style="font-size:15px">Price: $<%=coach.local.cost %>/hour</p>
		        </div></a>
	        </div>
        </div>
		<% }); %>
    </section>
    <div class = "history">
        	<h2>Balance: $<%=user.local.pocket%></h2>
        	<h3>Order history</h3>
        	<% for (var i = 0; i < 10; i = i + 2){ %>
        	<% if (user.local.recent_orders[i] != undefined){ %>
        	<div class="h_block">
        		<div class="receiver">
        			<h4><%=user.local.recent_orders[i]%></h4>
        			<p>Money Sent</p>
        		</div>
        		<div class="amount">
        			<h4>-$<%=user.local.recent_orders[i + 1]%></h4>
        		</div>
        	</div>
        	<% } %>
        <% } %>
     </div>
     <script type="text/javascript" src="/script/jquery-2.2.1.js"></script>
	<script type="text/javascript" src="/script/profile.js"></script>
	
	
	
</body>
</html>