<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BeMaster</title>
	<link href="/css/profile.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/script/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src ="/script/profile.js"></script>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li class="logo"><a href="/home">BeMaster</a></li>
				<li><img src="/images/close-envelope.png" onmouseover='src="/images/close-envelope1.png"' onmouseout='src="/images/close-envelope.png"' onclick="location.href='/messaging';"></li>
					<li style="margin-left:20px"><a href='/logout'>Log Out</a></li>
				<li><a href='/profile'><%=user.local.nickname%></a></li>
				<li><img src="/images/upwards-arrow.png" onmouseover='src="/images/upwards-arrow1.png"' onmouseout='src="/images/upwards-arrow.png"' id="upwards"></li>
			</ul>
		</nav>
	</header>
	
	<section class = "information">
		<div class = "profile">
			<div class = "photo">
			 	<% if (coach.local.photo == "") { %>
			 	<img src="/images/person.gif" >
				<% } %>
				
			    <% if (coach.local.photo != "") { %>
				<img style="height:60%;width:60%; border-radius: 50%" src="<%=coach.local.photo%>">
			    <% } %>
			</div>
			<div class="g_information">
				<h2><%=coach.local.nickname%></h2>
				<p><%=coach.local.game%> coach</p>
				<p><%=coach.local.coachtype%></p>
				
			</div>
			<a id="sendmessage"><div id="message" >
				<img src="/images/conversation.png">
			</div></a>
			<div id="follow">
				<% if (user.local.occupation == "student") { %>
				<% if (has_followed == 0){ %>
					<a href="/follow/<%=coach._id%>">follow</a>
				<% } %>
				<% if (has_followed == 1){ %>
					<a href="/unfollow/<%=coach._id%>">unfollow</a>
				<% } %>
				<% } %>
			</div>
			<div id="order">
				<p onclick="location.href='/order/<%=coach._id%>'">book</p>
			</div>
			
			<div id='showmessage' style="display:none">
				<form action="/message/<%=coach._id%>" method="post">
				<textarea cols="3" name="content" placeholder="message him" rows="2" autofocus required>
				</textarea>
				<button type="submit">Send</button>	
				</form>
			</div>
			
		</div>
	</section>
	<section id="service">
		<div class="flip-container-1" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="col-md-3-1">
					
					<% if (coach.local.game == "CS:GO") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/csgo_logo.png">
					<% } %>
					
					<% if (coach.local.game == "League of Legends") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/lol_logo.png">
					<% } %>
					
					<% if (coach.local.game == "Dota2") { %>
		            <img style="width:100%;height:100%" class="img-responsive" src=
			        "/images/dota2_logo.png">
					<% } %>
					
					<% if (coach.local.game == "Overwatch") { %>
		            <img  style="width:100%;height:100%" class="img-responsive" src=
						  "/images/overwatch_logo.png">
					<%} %>
		        </div>
				
		        <div class="back-1">
					<% if (coach.local.rate.grade == 0) { %>
		        	<h3>Rating: N/A</h3>
						<p>(Pending...)</p>
				    <% } %>
					
				    <% if (coach.local.rate.grade != 0) { %>
		        	<h3>Rating: <%=coach.local.rate.grade%>/10</h3>
					<p>(from <%=coach.local.rate.studentlist.length%> students)</p>
					<% } %>
					
				
		        	<h3>Price: $<%=coach.local.cost%>/hour</h3>
				
		        </div>
	        </div>
        </div>
    </section>
    

	<section class="others_life">
	    <h1 id="viewcomment">Public Comments</h1>
		<div id="showcomment" style="display:none" >
		<% comments.forEach(function(comment) { %>
		<div id="posts">
			<div class = "small_photo">
					<img src="/images/person.gif" class="img-responsive" alt="Who is that" style="width:50px;height:50px;">
			</div>
			<div class="content">
				<div class = "ID">
					<a href="/users/<%=comment.comment.studentid%>"><p class = "ID"><%=comment.comment.nickname %></p></a>
				</div>
				<p><%=comment.comment.content%></p>
			</div>
			 <p><%=comment.comment.date%></p>
		</div>
		<% }); %>
		</div>
	</section>
    
    <section class='comment'>
        <form action="/comments/<%=coach._id%>" method='post'>
             <h1>Leave a Comment</h1>
			<h4>(You can only rate your coach once)</h4>
			<label>
			<span>Rate Your Coach</span>
			<select name='rate'>
				<option>10</option>
				<option>8</option>
				<option>6</option>
				<option>4</option>
				<option>2</option>
			</select>
			</label>
            <textarea cols="3" name="comment" placeholder="Message" rows="2" required>       
            </textarea>
            <button type="submit">Send Comment</button>
      </form>
    </section>
	

</body>
</html>